<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather_now.css') }}">
</head>

<div id="enclose">
<div class="container">
    <div class="d-flex">
        <img class="now-weather-code-icon align-self-center" src="{{url_for("static", filename="images/weathercodeicons/" + weather_code_now + ".svg")}}" alt="Icon for weather code.">
        <h1 class="align-self-center" id="temp">{{weather_now_info["temp"]["value"] | round(0, "common") | int}}°{{weather_now_info["temp"]["units"]}}</h1>
    </div>

    <br>

    <div class="container">
        <h6 id="now-time-location">At <strong>{{time_str}}</strong> in <strong>{{geo_data["city"]}}, {{geo_data["countryName"]}}</strong> it is</h6>
        <br>
        <h1 id="now-weather-code">{{weather_code_now | replace("_", " ") | title}}</h1>
    </div>

    <br>

    <div class="container">
        <h6 class="now-sub-details">Wind Speed: {{weather_now_info["wind_speed"]["value"] | round(0, "common") | int}} {{weather_now_info["wind_speed"]["units"]}}</h6>
        <h6 class="now-sub-details">Humidity: {{weather_now_info["humidity"]["value"] | round(0, "common") | int}}%</h6>
        <h6 class="now-sub-details">Precipitation Probability: {{weather_hourly_info[0]["precipitation_probability"]["value"]}}{{weather_hourly_info[0]["precipitation_probability"]["units"]}}</h6>
    </div>
</div>
</div>